.about_container_desktop{
    display: flex;
    align-items: center;
    height: calc(100vh - 4.37rem);
    width: 100%;
    .container_description{
        height: 100%;
        width: 50%;
        padding-left: 4em;
        padding-top: 7rem;
        color: white;
        font-family: 'Open Sans Hebrew';
        font-style: italic;
        font-weight: 400;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 65%;
            h2{
                margin: 0;
                color: $primaryColor;
                font-family: 'Watone';
                font-style: italic;
                font-size: 4.3em;
                font-weight: 100;
            }
        }
    }
    .container_images{
        display: flex;
        align-items: space-between;
        justify-content: space-around;
        padding: 4em 4em 2em 4em;
        // border: 1px solid green;       
        width: 50%;
        height: 100%;
        img{
            height: 70%;
            margin: 2rem 2rem 2rem 0rem;
            border-radius: 5px;
        }
        img:nth-child(2){
            align-self: flex-end;
        }
    }
}
.about_container_mobile{
    display: none;
}

@media (max-width: 720px){
    .about_container_desktop{
        display: none;
    }
    .about_container_mobile{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        h2{
            margin: 0;
            color: $primaryColor;
            font-family: 'Watone';
            font-style: italic;
            font-size: 3.5em;
            font-weight: 100;
        }
        .container_images{
            position: relative;
            display: flex;
            justify-content: space-between;
            top: -1rem;
            height: 23rem;
            img{
                height: 20rem;
                border-radius: 5px;
            }
            img:nth-child(1){
                align-self: flex-end;
            }
            img:nth-child(2){
                align-self: flex-start;
            }
        }  
        p{
            color: white;
            font-family: 'Open Sans Hebrew';
            font-style: italic;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}

// @media (max-width: 720px) {
//     .about_container{
//         border: 1px solid green;
//         .container_description_desktop{
//             display: none;
//         }
//         .container_description_mobile{
//             width: 100%;
//             // border: 1px solid red;
//             justify-content: center;
//             padding: 1rem 1.2rem 1rem 1.2rem;
//             div{
//                 width: 100%;
//                 height: 95%;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: space-between;
//                 // border: 1px solid cyan;
//                 h2{
//                     font-size: 3.5rem;
                    
//                 }
//                 p{
//                     font-size: 1.2rem;
//                 }
//             }
//         }
//         .container_images{
            
//             border: 1px solid red;
//             img{
//                 // position: absolute;
//                 height: 20rem;
//             }
//             // img:nth-child(1){
//             //     left: 1.1rem;
//             //     top: 9rem;
//             // }
//             // img:nth-child(2){
//             //     top: 6rem;
//             //     left: 14rem;
//             // }
//         }
//     }
// }