.loader_container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    img{
        position: absolute;
        max-width: 13rem;
        max-height: 19rem;
        padding-top: 3rem;
    }
    .spinner{
        width: 20rem;
        height: 20rem;
        color: white;
    }
      .spinner:after {
        box-sizing: border-box;
        content: " ";
        display: block;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        border: 0.5rem solid currentColor;
        border-color: currentColor transparent currentColor transparent;
        animation: lds-dual-ring 1.1s linear infinite;
      }
    .footer{
        position: absolute;
        bottom: 0;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: black; 
        span{
            color: white;
            font-size: 0.8rem;
            font-family: 'Open Sans Hebrew';
            font-style: italic;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }